*{
    box-sizing: border-box;
}
header{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 65px;
    background-color:blue;
}

footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(11, 20, 142);
}

body{
    position: relative;
    margin: 0;
    background-color: black;
    border: 0.1px solid red;
    min-height: 100vh;
    padding-bottom: 95px;
}

section{
    position: relative;
    padding: 0%;
}
.menu_header{
    position: relative;
    width: 80%;
    left: 10%;
    display: flex;
    z-index: 12;
    justify-content: space-between;
    background-color: aquamarine;
}

.prl_container{
    position: relative;
    margin: 0;
    width: 80%;
    left: 10%;
    background-color: blueviolet;
}

.profile_picture_container{
    position: relative;
    top:10px;
    height: 130px;
    background-color: yellow;
}

#profile_pic{
    position: relative;
    width: 124px;
    height: 124px;
    left: 50%;
    margin-left: -62px;
    border-radius: 100%;
}

.my_presentation{
    position:relative;
    margin-top: 15px;
    background-color: brown;
}

.dad_box_skills{
    position:relative;
    width: 100%;
    min-width: 100px;
    background-color: cornflowerblue;
}

.skills{
    position: relative;
}

.skills_container{
    position:relative;
    width: 100%;
    padding-bottom: 40px;
    background: gray;
}

.skills:not(:last-child){
    margin-bottom: 15px;
}

.details_skills{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar_menu{
    position: relative;
    border: 1px solid cyan;
    border-radius: 15px;
}

.bar_menu div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: cyan;
}

.hamburger{
    position: relative;
    display: block;
    width: 50px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar_h, .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(-8px, -9px);
}
 .hamburger.is-active .bar_h{
    opacity: 0;
 }

 .mobile_nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    padding-top: 120px;
    display: block;
    z-index: 10;
    background-color: rgba(100, 148, 237, 0.862);
    transition: 0.4s;
 }

 .mobile_nav.is-active{
    left: 0;
 }

 .mobile_nav a{
    display: block;
    width: 100%;
    max-width: 200px;
    margin:0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: burlywood;
    color: black;
    text-decoration: none;
 }

.mobile_nav a:hover{
    background-color: azure;
}

/*Animations*/
#cs_menu{
    animation: csharp-bar 1s forwards;
}

#py_menu{
    animation: python-bar 1s forwards;
}

#css_menu{
    animation: css-bar 1s forwards;
}

#html_menu{
    animation: html-bar 1s forwards;
}

#unity_menu{
    animation: unity-bar 1s forwards;
}

#blender_menu{
    animation: blender-bar 1s forwards;
}

#photoshop_menu{
    animation: ps-bar 1s forwards;
}

#reaper_menu{
    animation: reaper-bar 1s forwards;
}

#camtasia_menu{
    animation: camtasia-bar 1s forwards;
}



@keyframes csharp-bar{
    100%{
        width: 70%;
    }
}

@keyframes python-bar{
    100%{
        width: 8%;
    }
}

@keyframes css-bar{
    100%{
        width: 30%;
    }
}

@keyframes html-bar{
    100%{
        width: 60%;
    }
}

@keyframes unity-bar{
    100%{
        width: 70%;
    }
}
@keyframes blender-bar{
    100%{
        width: 15%;
    }
}

@keyframes ps-bar{
    100%{
        width: 55%;
    }
}

@keyframes reaper-bar{
    100%{
        width: 40%;
    }
}

@keyframes camtasia-bar{
    100%{
        width: 90%;
    }
}








@media only screen and  (min-width: 320px) and (max-width: 540px){

}
@media only screen and (min-width: 541px) and (max-width: 1024px){ 

}
@media only screen and (min-width: 1025px){

}

