.game-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.right-zone {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-between;
}

.right-zone a {
  align-self: center;
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.game-features{
  display: flex;
  padding: 15px;
  gap: 15px;
  align-items: center;
  border-radius: 8px;
  background-color: #2e2e38;
}

.game-features img {
  width: 100%;
  height: auto;
  max-width: 210px;
}
