footer{
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
  background-color: #121212; 
  border-top: 3px solid #0078FF; 
}

.footer-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 5%;
  padding: 10px 0;
}

.footer-container h4{
  text-align: center;
}

.contact-box{
  display: flex;
  justify-content: center;
  gap: 45px;
  margin:20px 0;
}

.footer-item{
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer-item a{
  color: #A0CFFF;
  padding:5px;
  text-decoration: none;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.footer-item i{
  font-size: 50px;
}

.footer-item:hover{
  color: #FFC107;
}

.footer-item a:hover{
  color: #FFC107;
  text-decoration-thickness: 2px;
  text-decoration-color: #FFC107;
  border-radius: 5px;
  text-shadow: 0 0 15px rgba(255, 193, 7, 0.9);
}

.credits{
  text-align: center;
  font-style: italic;
  color: #A0A0A0;
  font-size: 1rem;
}

.credits:hover{
  color: #FFFFFF;
}