footer{
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
  background-color: #121212; 
  border-top: 3px solid #00E676; 
}

.footer-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 5%;
  padding: 10px 0;
}

.contact-box{
  margin:20px 0;
}

.footer-item{
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer-item a{
  color: #A0CFFF;
  padding:5px;
  text-decoration: none;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.footer-item:hover{
  color: #00E676;
}

.footer-item a:hover{
  color: #00E676;
  text-decoration-thickness: 2px;
  text-decoration-color: #00E676;
  border-radius: 5px;
  text-shadow: 0 0 15px rgba(0, 230, 118, 0.9)
}

.credits{
  text-align: center;
  font-style: italic;
  color: #A0A0A0;
  font-size: 1rem;
}

.credits:hover{
  color: #FFFFFF;
}