/* ============================= */
/*        ESTILOS GLOBALES       */
/* ============================= */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* background-color: #121212; */
  background: linear-gradient(90deg, #121212 0%, #1c1c1c 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  color: #b0b0b0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Aquí se ajusta el contenedor principal */
.principal-container {
  flex: 1;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  margin: 80px auto 0; /* se centra horizontalmente */
}

.mobile {
  display: none;
}

/* ============================= */
/*         TEXTOS Y BOTONES      */
/* ============================= */
.featured {
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #ffc107;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.featured-2 {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  justify-content: center;
}

.istok-italic {
  font-style: italic;
}

.highlight {
  color: #ffc107;
}

.btn-a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px 25px;
  background-color: #00a6ed;
  transition: background-color 0.3s ease, border-radius 0.3s ease,
    transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-a:hover {
  transform: scale(1.1);
  border-radius: 5px 5px;
  color: #000;
  background-color: #ffc107;
  box-shadow: 0 0 20px rgba(255, 193, 7, 0.7);
}

.zoom {
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.05);
}

.video-container {
  position: relative;
  width: 100%;
  /* 16:9 → 9/16 = 56.25% */
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container .video-responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*******************************************************/
/* ------MEDIAQUEARIES ------*/
/*******************************************************/

/*******************************************************/
/* ------MOBILE ------*/
/*******************************************************/

@media (width <= 767px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .featured {
    font-size: 1.9rem;
  }

  .featured-2 {
    text-align: center;
    font-size: 1.75rem;
  }
}

/*******************************************************/
/* ------TABLET ------*/
/*******************************************************/

@media (width >= 768px) and (width <= 991px) {
}
/*******************************************************/
/* ------LAPTOP ------*/
/*******************************************************/
@media (width >= 992px) and (width <= 1199px) {
}
