body{
  color: #fff;
  font-family: "Istok Web", serif;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
  background-color: #121212;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal-container{
  max-width: 1200px;
  margin: 5% 5% 0;
}

/* Textos */
.featured{
	font-family: "Protest Revolution", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4rem;
}

.featured-2{
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style:normal;
  justify-content: center;
}

.istok-italic{
  font-style: italic;
}

.highlight{
  color: #FFD54F;
}
